<div class="container-custom">
  
  <div class="dashboard">
    <h1>Vu-GooD</h1>
  </div>
  
  <div class="area-work">
    <div class="titulo-dashboard">
      <h1 class="">Usuarios</h1>
    </div>

    <table class="table-custom">
      <thead >
          <tr >
              <th>Id</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Fecha Creado</th>
              <th>Fecha Actualizado</th>
              <th>Botones</th>
            </tr>
      </thead>
      <tbody >
          <tr class="table-row" *ngFor="let usuario of usuarioPage?.content">
            <td class="table-actions">
              <div>{{ usuario.idUsuario }}</div>
            </td>
            <td>
              <div>{{ usuario.idUsuarioData.usuName }}</div>
            </td>
            <td>
              <div>{{ usuario.rol.rol }}</div>
            </td>
            <td>
              <div>{{ usuario.usuCreatedAt }}</div>
            </td>
            <td>
              <div>{{ usuario.usuUpdateAt }}</div>
            </td>


            <div class="con-btns-icon">
              <button class="btn custom-btn-edi" [routerLink]="['/usuarios/usuario/form']"  matTooltip="Editar Usuario">
                Editar
              </button>
              <button class="btn custom-btn-del" matTooltip="Eliminar Usuario">
                Eliminar 
              </button>  <!-- href="/admin/usuarios"  -->
            </div>
          </tr>
      </tbody>
    </table>

    <div class="btn-work">
      <button class="btn-work-add" [routerLink]="['/usuarios/usuario/form']"  matTooltip="Nuevo Usuario">
          NUEVO USUARIO
      </button>
    </div>
  </div>
  
</div>    